.accordion {
  width: 100%;
}

.accordion--item--header {
  width: 100%;
  padding: 15px;
  background-color: papayawhip;
  cursor: pointer;
  border-bottom: 1px solid #0000000d;
}

.accordion--item--header--icon {
  float: right;
}

.accordion--item--content {
  width: 100%;
  padding: 15px;
  background-color: #0000000d;
}
